<!DOCTYPE html>
<html lang="en">
<head>
<title>AirLines</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">

</head>
<body id="page1">
<div class="main">
  <!--header -->
  <header>
    <div class="wrapper">
      <h1><a href="index.html" id="logo">AirLines Fare Calculation</a></h1>
      <span id="slogan">AirLines Fare Calculation</span>

    </div>
    <nav>
      <ul id="menu">
        <li><%= link_to 'Home',airline_book_start_path %> </li>
      <li> <%= link_to 'Sector',airline_book_add_sector_path %> </li>
      <li><%= link_to 'Passenger',airline_book_add_passenger_path %> </li>
      <li><span><span><%= link_to ' Search',airline_book_search_path %></span></span></li>
      </ul>
    </nav>
  </header>
  <!-- / header -->

  <!--content -->
  <section id="content">
    <div class="for_banners">

    <%= form_for @sector, url: {action: "save_sector"} do |f| %><br/>
    <%= f.label :flight_name %> 
    <%= f.select :flight_name, [['SG'],['6E'],['9W'],['AI'],['G8']] %><br/><br/>
    
    <%= f.label :airline_no %>
    <%= f.text_field :airline_no %><br/><br/>
    
    <%= f.label :departure %> 
    <%= f.select :departure, [['HYD'],['BOM'],['DEL'],['MAA'],['BLR']] %><br/><br/>
    
    <%= f.label :arrival %> 
    <%= f.select :arrival, [['BOM'],['DEL'],['BLR']]  %><br/><br/>
    
    <%= f.label :base_fare %>
    <%= f.text_field :base_fare %><br/><br/>

     <a class="button1">
     <%= f.submit  %> <br/><br/><br/></a>
  
  <% end %>
  
    </div>
  </section>
  <!--content end-->
  <!--footer -->
  <footer>
    <div class="wrapper">
         <ul id="icons">
        <li><a href="http://www.facebook.com/" class="normaltip"><img src="/assets/icon1.jpg" alt=""></a></li>
        
        <li><a href="https://twitter.com/" class="normaltip"><img src="/assets/icon4.jpg" alt=""></a></li>
        <li><a href="https://www.linkedin.com/" class="normaltip"><img src="/assets/icon5.jpg" alt=""></a></li>

      </ul>
       <div class="links">Copyright &copy; <a href="#">Iriss bsp it</a> All Rights Reserved<br>
        Design by <a target="_blank" href="http://www.irissbspit.com/">IrissDevelopementGroup.com</a></div>
    </div>
  </footer>
  <!--footer end-->
</div>
</body>
</html>